.navbar{
    background-color:#171b20;
    display: flex;
    justify-content: space-between;
    
}
a{
    color: #ace0f9;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}
a:hover{
    background-color: #ace0f9;
    color: #171b20;
    
}

@media screen and (max-width:300px) {

    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}